body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c59d9d;
  }
  
  .container {
    text-align: center;
  }
  
  .links a {
    display: block;
    margin: 10px 0;
    padding: 8px 20px;
    text-decoration: none;
    background-color: #071627;
    color: #f1e9e9;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .links a:hover {
    background-color: rgb(41, 21, 48), 0, 179);
  }
